<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.huawei.springboot.mapper.ProductMapper">
  <resultMap id="BaseResultMap" type="com.huawei.springboot.domain.Product">
    <id column="id" jdbcType="INTEGER" property="id" />
    <result column="name" jdbcType="VARCHAR" property="name" />
    <result column="product_no" jdbcType="VARCHAR" property="productNo" />
    <result column="create_time" jdbcType="TIMESTAMP" property="createTime" />
    <result column="update_time" jdbcType="TIMESTAMP" property="updateTime" />
  </resultMap>
  <sql id="Base_Column_List">
    id, `name`, product_no, create_time, update_time
  </sql>

  <select id="findAll" resultType="Product">
    SELECT <include refid="Base_Column_List"/>
    FROM product
  </select>

  <!--批量插入-->
  <insert id="insertBatch" parameterType="java.util.List">
    insert into product (name,product_no,create_time,update_time)
    values
    <foreach collection ="products" item="item" index= "index" separator =",">
      (#{item.name}, #{item.productNo},now(),now())
    </foreach >
  </insert>
</mapper>